{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} LogIn {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username"
               placeholder="himangshushekharjha" class="form-control"
               value="{{ request.form['username'] }}"></input>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <textarea name="password" placeholder="password"
                  class="form-control">{{ request.form['password'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
